@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolitan";
  src: url("../../public/fonts/Metropolis-SemiBold.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Metropolitan', Courier, monospace;
}